<div class="search_results">
  <% if @search_results.blank? %>
    <h2 class="no_search_results">
      <%= raw Alchemy.t('search_result_page.no_results', query: h(params[:query])) %>
    </h2>
  <% else %>
    <h2 class="search_results_heading">
      <%= raw Alchemy.t("search_result_page.result_heading", query: h(params[:query])) %>
      <%= Alchemy.t("search_result_page.result_count",
                    count: @search_results.try(:total_count) || @search_results.size) %>
    </h2>
    <ul class="search_result_list">
      <%= render(partial: 'alchemy/search/result', collection: @search_results) %>
    </ul>
  <% end %>
</div>

<% if @search_results.try(:total_pages) %>
  <%= paginate @search_results %>
<% end %>
